* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Primarias */
    --Vermelho-cereja: #C21233;
    --Branco: #fff;
    --Red-off-white: #F1F5F2;
    --Grafite: #25282A;
    --Cinza-off-white: rgb(232, 232, 232);
    --Azul-escuro: #14325A;
    --Preto: #000000;
    --Dourado: #C5A469;

    /* Principais fontes */
    --Poppins: 'Poppins', san-serif;
    --Open-Sans: 'Open Sans', san-serif;
}

body {
    font-family: var(--Open-Sans);
    background-color: var(--Red-off-white);
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    box-shadow: .5px .5px 8px gray;
    position: relative;
    background-color: var(--Branco);
}

header .logo {
    background-color: var(--Vermelho-cereja);
    width: 300px;
    text-align: center;
}

nav#desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
    margin-left: 150px;
}

header nav#desktop ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

header ul a {
    color: var(--Preto);
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
}

header ul a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--Dourado);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: .5s ease-in-out;
}

header ul a:hover::after {
    width: 100%;
}

a:focus,
button:focus {
    outline: 2px solid var(--Dourado);
    /* Exemplo de cor de destaque */
}

header #sair-btn {
    margin-right: 20px;
    position: relative;
}

header #sair-btn a {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: inset 0 0 0 1px #000;
    /* Borda interna */
    border-radius: 3px;
    text-decoration: none;
    color: var(--Grafite);
    transition: .3s;
    animation-name: trocarIcone;
    font-family: 'Poppins', sans-serif;
}

header #sair-btn a:hover {
    background-color: var(--Grafite);
    box-shadow: inset 0 0 0 2px #ffffff;
    /* Borda interna */
    color: var(--Branco);
}

/* Menu Mobile */

nav#mobile #mobile_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    background-color: var(--Branco);
    box-shadow: 5px 5px 10px rgba(255, 101, 101, 0.13);
}

nav#mobile #mobile_menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
}

nav#mobile #mobile_menu ul li {
    padding: 10px;
    box-shadow: 0px 0px .5px black;
    margin-left: 0;
}

header #icone-abrir {
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 996px) {
    nav#desktop {
        margin-left: 50px;
    }
}

@media screen and (max-width: 873px) {
    nav#desktop {
        display: none;
    }



    header #sair-btn {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    header #icone-abrir {
        display: block;
    }

    header .logo {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    header .logo {
        width: 150px;
    }
}