@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Primarias */
    --Vermelho-cereja: #C21233;
    --Branco: #fff;
    --Red-off-white: #F1F5F2;
    --Grafite: #25282A;
    --Cinza-off-white: rgb(232, 232, 232);
    --Azul-escuro: #14325A;
    --Preto: #000000;
    --Dourado: #C5A469;
    --vermelho-caju: #E80537;

    /* Principais fontes */
    --Poppins: 'Poppins', san-serif;
    --Open-Sans: 'Open Sans', san-serif;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--Poppins);
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main {
    background-color: var(--Cinza-off-white);
    width: 100%;
    height: auto;
}

main .caju-home {
    background-color: var(--Vermelho-cereja);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Branco);
    padding: 20px;
}

main .caju-imagem {
    max-width: 350px;
}

main .caju-imagem img {
    width: 100%;
}

main .caju-informacao {
    max-width: 1000px;
    margin: auto;
    background-color: var(--Branco);
    padding: 10px;
}

/* CONFIGURANDO OS CARDS */
main .caju-info-dados h2 {
    margin: 20px auto 30px auto;
    text-align: center;
}

main .info-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
}

main .cartao-info {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    flex: 1 1;
    min-height: 200px;
}

main .cartao-info-destaque {
    background-color: var(--Azul-escuro);
    color: var(--Branco);
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .cartao-info-texto {
    margin-top: 20px;
    padding: 0 10px;
}

/* FIM CONFIGURANDO OS CARDS */


/* COMEÇO COMO BAIXAR E UTILIZAR O CAJU */
.como-baixar-links h1 {
    font-size: 1.5rem;
}

.como-baixar-links h3 {
    font-size: 1rem;
}

.como-baixar-links a {
    color: var(--Dourado);
    font-weight: 600;
}

/* CONTAINER */
main .caju-download {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--Branco);
    padding: 10px;
}

/* CONTAINER DOS CARTS DE PASSO A PASSO */
.caju-passo-a-passo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 30px;
}

.caju-passo-a-passo img {
    max-width: 250px;
    border-radius: 8px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.caju-passo-a-passo p {
    max-width: 500px;
    font-size: 1.5em;
}

.passo-2 img{
    order: 2;
}

/* FIM COMEÇO COMO BAIXAR E UTILIZAR O CAJU */

@media screen and (max-width: 700px) {
    main .info-lista {
        flex-direction: column;
        width:400px;
        
    }

    .caju-info-dados{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px){
    .caju-passo-a-passo{
        flex-direction: column;
    }

    .caju-passo-a-passo p{
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    }

    .caju-download h1{
        font-size: 1.3rem;
    }

    main .info-lista{
        width: 100%;
    }

    .passo-2 p{
        order: 2;
    }
}