* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Primarias */
    --Vermelho-cereja: #C21233;
    --Branco: #fff;
    --Red-off-white: #F1F5F2;
    --Grafite: #25282A;
    --Cinza-off-white: rgb(232, 232, 232);
    --Azul-escuro: #14325A;
    --Preto: #000000;
    --Dourado: #C5A469;

    --laranja-gndi: #f5ad065d;

    /* Principais fontes */
    --Poppins: 'Poppins', sans-serif;
    --Open-Sans: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;

    font-family: var(--Poppins);
    font-size: 1rem;
}

main {
    width: 100%;
}

main #container-convenio {
    width: 100%;
}

main .header-convenio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    background-color: var(--laranja-gndi);
    padding: 50px;
    margin: 0 auto;
}

.convenio-texto h2 {
    margin-bottom: 30px;
}

.convenio-texto p {
    max-width: 500px;
    color: rgb(41, 41, 41);
}

main .convenio-img {
    width: 400px;
}

main .convenio-img img {
    max-width: 100%;
}


@media screen and (max-width: 638px) {
    main .header-convenio {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .convenio-texto {
        text-align: center;
    }

    main .convenio-img img {
        width: 75%;
    }

    main .convenio-img {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    /* Ajustes para telas menores */
    main .header-convenio {
        padding: 20px;
        gap: 20px;
    }

    .convenio-texto p {
        font-size: 0.875rem;
        /* Reduzindo o tamanho da fonte */
    }
}

@media screen and (min-width: 1280px) {
    main .header-convenio {
        padding: 50px;
        gap: 50px;
    }

    .convenio-img img {
        width: 100%;
        /* Para aproveitar o espaço disponível */
    }
}

/* FIM ESTILOS ARTICLE CONVENIO-HEADER */

main .convenio-info {
    margin: 20px auto;
    max-width: 1000px;
}

main .convenio-servicos {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* Garantir que todas as caixas tenham a mesma altura */
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 10px;
}

main .convenio-servicos .servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinhar o conteúdo no topo */
    flex-basis: calc(33.33% - 20px);
    /* Assegura 3 colunas iguais */
    padding: 10px;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(255, 255, 255);

}

main .convenio-servicos .servico img {
    max-width: 200px;
    height: auto;
}

main .convenio-servicos .servico h1 {
    font-size: 1.5em;
    margin-top: 15px;
    text-align: center;
}

main .convenio-servicos .servico p {
    text-align: center;
}

/* INICIO ARTICLE CONVENIO ONLINE INFO */

main .convenio-online-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: var(--Branco);
}

main .convenio-online-info-img {
    max-width: 300px;
}

main .convenio-online-info-img img {
    max-width: 100%;
}

main .convenio-online-info-text {
    max-width: 300px;
    text-align: center;
}

main .convenio-online-info-text h1 {
    color: var(--Azul-escuro);
}

main .convenio-online-info-text p {
    font-weight: 500;
}

/* FIM ARTICLE CONVENIO ONLINE INFO */

/* INICIO COMOM BAIXAR O APP */

.convenio-como-baixar {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--Branco);
    padding: 20px;
    border-radius: 5px;
}

.como-baixar-links a {
    color: var(--Dourado);
    font-weight: 600;
}

.como-baixar-links h1 {
    font-size: 1.5rem;
}

.como-baixar-links h3 {
    font-size: 1rem;
}

.como-baixar-passos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 30px;
}

.como-baixar-passos h1 {
    flex-basis: 100%;
    text-align: center;
}

.passosBox {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    flex: 1 1 45%;
    flex-wrap: wrap;
}

.como-baixar-passos img {
    width: 250px;
}

.passos-aviso {
    padding: 10px;
}

@media screen and (max-width: 680px) {
    .como-baixar-passos {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .passosBox img {
        width: 100%;
    }

    .passosBox {
        min-width: 90%;
    }

    main .convenio-servicos .servico{
        flex-basis: 90%;
    }
}

/* FIM COMOM BAIXAR O APP */