* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: var(--Vermelho-cereja);
    padding: 10px 0;
    width: 100%;
    font-size: .8em;
    color: white;
}

footer p {
    margin: 0;
}