:root {
    /* Cores Primarias */
    --Vermelho-cereja: #C21233;
    --Branco: #ffffff;
    --Red-off-white: #F1F5F2;
    --Grafite: #25282A;
    --Cinza-off-white: rgb(232, 232, 232);
    --Azul-escuro: #14325A;
    --Preto: #000000;
    --Dourado: #C5A469;

    /* Principais fontes */
    --Poppins: 'Poppins', san-serif;
    --Open-Sans: 'Open Sans', san-serif;
}

main .unidades-RedHouse {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 70%;
    margin: 20px auto;
    background-color: var(--Branco);
    padding: 10px;
    border-radius: 10px;
    height: auto;
}

main .unidades-RedHouse a {
    flex: 1 1 calc(20% - 15px);
    /* Cada bloco ocupa 50% da largura, menos o gap */
    height: 300px;
    text-align: center;
    border: 1px solid rgb(222, 219, 219);
    border-radius: 10px;
    cursor: pointer;
}

main .unidades-RedHouse a.villa-lobos {
    background-image: url("../assets/fotos-unidades/vila-lobos.jpg");
    background-repeat: no-repeat;
}


@media screen and (max-width: 900px) {
    main .unidades-RedHouse a {
        flex: 1 1 100%;
        /* Cada bloco ocupará toda a linha em telas médias */
    }
}

@media screen and (max-width: 600px) {
    main .unidades-RedHouse a {
        min-width: 200px;
        height: 200px;
        flex: 1 1 100%;
        /* O mesmo ajuste para telas menores */
    }
}